# Core
streamlit

# ML / NLP
torch==2.5.1
transformers
sentence-transformers
scikit-learn
numpy
pandas
joblib

# PDF / text processing
PyPDF2
regex

# Visualization
matplotlib
seaborn
wordcloud

# Optional utilities (if used)
tqdm

streamlit==1.50.0
torch==2.5.1
matplotlib==3.10.7
seaborn==0.13.2
wordcloud==1.9.4
pandas==2.3.3
sentence-transformers==5.1.1
PyPDF2==3.0.1
joblib==1.5.2
scikit-learn==1.7.2
nltk==3.8.0
